body {
    color: #303030;
    background-color: #a2ffd6;
    font-size: 18px;
}

h1.shopping-list-title {
    text-align: center;
}

.nav {
    background: #81ff98;
    padding: 20px 0;
}
button {
    margin: 0 10px;
    padding: 12px 20px;
    font-size: 15px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid;
}